// ให้ Copy ไฟล์นี้แล้วเปลี่ยนชื่อเป็น secrets.h จากนั้นกรอกข้อมูลด้านล่าง

#ifndef SECRETS_H
#define SECRETS_H

static const char* ssid = "YOUR_WIFI_SSID";
static const char* pass = "YOUR_WIFI_PASSWORD";
static const char* building_id = "YOUR_BUILDING_ID";
static const char* mqtt_server = "YOUR_MQTT_SERVER_IP";
static const int   mqtt_port   = 1883;
static const char* mqtt_user   = "YOUR_MQTT_USERNAME";
static const char* mqtt_pass   = "YOUR_MQTT_PASSWORD";

#endif